---
- name: Ansible k8s module
  hosts: servers
  tasks:

  - name: "Install kubernetes python package"
    pip:
      name: kubernetes
      state: present
  - name: "Create a k8s namespace"
    k8s:
      name: tomcat-namespace
      api_version: v1
      kind: Namespace
      state: present
  - name: "copying service file with playbook"
    become: true
    copy:
      src: service.yml
      dest: service.yml

  - name: copying deployment file with playbook
    copy:
       src: deployment.yml
       dest: deployment.yml

  - name: "Create a deployement"
    k8s:
      state: present
      namespace: tomcat-namespace
      src: deployment.yml

  - name: "Create a service"
    k8s:
      state: present
      namespace: tomcat-namespace
      src: service.yml

  - name: "Ansible file module to delete multiple files"
    file:
      path: "{{ item }}"
      state: absent
    with_items:
    - deployment.yml
    - service.yml

  - name: "Delete a k8s namespace"
    k8s:
      name: Tomcat-namespace
      api_version: v1
      kind: Namespace
      state: absent
