---
- name: Ansible k8s module
  hosts: servers
  remote_user: ansible
  tasks:

  - name: "Install kubernetes python package"
    pip:
      name: kubernetes
      state: present
  - name: "Create a k8s namespace"
    k8s:
      name: tomcat-namespace
      api_version: v1
      kind: Namespace
      state: present
  - name: "copying service file with playbook"  
    copy:
      src: ./kubernetes/service.yml
      dest: service.yml
      remote_src: true

  - name: copying deployment file with playbook
    copy:
       src: /kubernetes/deployment.yml
       dest: deployment.yml
       remote_src: true

  - name: "Create a deployement"
    k8s:
      state: present
      namespace: tomcat-namespace
      src: /kubernetes/deployment.yml

  - name: "Create a service"
    k8s:
      state: present
      namespace: tomcat-namespace
      src: /kubernetes/service.yml

  - name: "Ansible file module to delete multiple files"
    become: true
    file:
      path: "{{ item }}"
      state: absent
    with_items:
    - deployment.yml
    - service.yml

  - name: "Delete a k8s namespace"
    become: true
    k8s:
     name: Tomcat-namespace
     api_version: v1
     kind: Namespace
     state: absent
